<section class="content">
  <br /><br/>
  <% @posts.each_with_index do |post, idx| %>
    <div class="post-wrapper">
      <div class="title-wrapper">
        <p class="title"> <%= idx + 1 %>. <%= post.title %></p>
        <% if post.url %>
          <p class="subhead comhead"> (<%= post.url %>)</p>      
        <% end %>
      </div>
      <div class="info-wrapper">
        <p class="subtext">
          10 points by <%= post.user.username %> <%= time_ago_in_words(post.created_at) %> |
          <%= post.comments.size %> comments</p>
      </div>
    </div>
  <% end %>
</section>
<%= will_paginate(@posts) %>
