<section class="content"><br/>
  <p id="notice"><%= notice %></p>

  <div class="title-wrapper">
    <a href="/posts/<%= @post.id %>"><p class="title"><b>Title:</b> <%=@post.title %></p></a>
    <% if @post.url %>
      <p class="subhead comhead"> (<%=@post.url %>)</p>
    <% end %>
  </div>
  <div class="info-wrapper">
    <p class="subtext">
      10 points by <a href="#"><%= @post.user.username %></a> <%= time_ago_in_words(@post.created_at) %> |
      <a href="#"><%= @post.comments.size %> comments</p></a>
  </div>
  <% if @post.body %>
    <div class="post-body">
      <p> <%= @post.body %></p>
    </div>
  <% end %>

<% if current_user %>
  <%= form_for [@post, @comment], class: 'form-horizontal' do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_area :body, class: 'comment-field' %><br/>
    <%= f.submit 'add comment', class: 'simple-submit' %>
  <% end %><br/><br/>
<% end %>

  <% @comments.each_with_index do |comment, i| %>
    <% if comment.id %>
      <div class="info-wrapper">
        <p class="subtext">
          <%= comment.user.username %> <%= time_ago_in_words(comment.created_at) %>

        </p>
      </div>
      <div class="title-wrapper">
        <p class="title"><%= comment.body %></p>
      </div>
      <%= link_to 'reply', '#', class: 'comhead open-nested-form', style: 'text-decoration: underline; color: black;' %>
      <div class="hidden-form hidden">
        <%= form_for @nested_comment, class: 'form-horizontal nested-comment-form' do |f| %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_field :body, class: 'comment-field' %><br/>
          <%= f.submit 'add reply', class: 'simple-submit' %>
        <% end %>
      </div>

      <% if comment.nested_comments.count >= 1 %>
        <% comment.nested_comments.each do |cmt| %>
          <div class="info-wrapper nested">
            <p class="subtext">
              <%= cmt.user.username %> <%= time_ago_in_words(cmt.created_at) %>
            </p>
          </div>
          <div class="title-wrapper nested">
            <p class="title"><%= cmt.body %></p>
          </div>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
  <br/>


  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', root_path %>

</section>

