<nav class="navbar">
  <div class="logo">Y</div>
  <div class="nav-links">
    <%= link_to 'catter News', root_path, class: 'title-link' %>
    <%= link_to 'new', root_path, class: 'nav-link' %>
    <%= link_to 'comments', root_path, class: 'nav-link' %>
    <%= link_to 'show', root_path, class: 'nav-link' %>
    <%= link_to 'ask', root_path, class: 'nav-link' %>
    <%= link_to 'jobs', root_path, class: 'nav-link' %>
    <%= link_to 'submit', root_path, class: 'nav-link' %>
    <%= link_to 'login', root_path, class: 'nav-link' %>
  </div>



</nav>
